@page "{id}"
@model FUNewsManagementSystem.WebApp.Pages.NewsArticles.DetailsModel
@{
    ViewData["Title"] = "News Article Details";
}
<h2>News Article Details</h2>
<div>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Article.NewsArticleId)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Article.NewsArticleId)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Article.NewsTitle)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Article.NewsTitle)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Article.Headline)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Article.Headline)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Article.CreatedDate)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Article.CreatedDate)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Article.NewsContent)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Article.NewsContent)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Article.NewsSource)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Article.NewsSource)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Article.CategoryId)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Article.CategoryId)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Article.NewsStatus)</dt>
        <dd class="col-sm-10">@(Model.Article.NewsStatus == true ? "Active" : "Inactive")</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Article.CreatedById)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Article.CreatedById)</dd>
        <dt class="col-sm-2">Tags</dt>
        <dd class="col-sm-10">@(Model.Article.TagIds != null ? string.Join(", ", Model.Article.TagIds) : "None")</dd>
    </dl>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Article.NewsArticleId" class="btn btn-primary">Edit</a>
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>